name: Deploy to Cloudflare Pages

on:
  push:
    tags:
      - 'v*'
  workflow_dispatch:

jobs:
  deploy-production:
    name: Deploy Production
    runs-on: ubuntu-24.04-arm
    environment: production
    steps:
      # https://github.com/marketplace/actions/checkout
      - name: Checkout
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1

      - name: Setup
        uses: ./.github/actions/setup

      - name: Deploy
        uses: ./.github/actions/build-deploy
        with:
          project-name: ishinovacojp
          branch: ${{ vars.PAGES_BRANCH }}
          cloudflare-account-id: ${{ secrets.CLOUDFLARE_ACCOUNT_ID }}
          cloudflare-api-token: ${{ secrets.CLOUDFLARE_API_TOKEN }}
