name: Manual Deploy to Cloudflare Pages

on:
  workflow_dispatch:
    inputs:
      environment:
        type: environment
        default: staging
        required: false
        description: デプロイ環境

jobs:
  deploy:
    name: Deploy
    runs-on: ubuntu-24.04-arm
    environment: ${{ github.event.inputs.environment }}
    steps:
      # https://github.com/marketplace/actions/checkout
      - name: Checkout
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0

      - name: Setup
        uses: ./.github/actions/setup

      - name: Deploy
        uses: ./.github/actions/build-deploy
        with:
          project-name: ishinovacojp
          branch: ${{ vars.PAGES_BRANCH }}
          cloudflare-account-id: ${{ secrets.CLOUDFLARE_ACCOUNT_ID }}
          cloudflare-api-token: ${{ secrets.CLOUDFLARE_API_TOKEN }}
