name: Release

on:
  pull_request:
    branches:
      - main
    types:
      - closed
    paths:
      - VERSION

permissions:
  contents: write
  pull-requests: write
  issues: write

concurrency:
  group:  ${{ github.workflow }}-${{ github.event.pull_request.number }}
  cancel-in-progress: false

jobs:
  create-release:
    if: ${{ github.event.pull_request.merged == true }}
    runs-on: ubuntu-24.04-arm
    timeout-minutes: 15

    steps:
      - name: Checkout
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1

      - name: Create GitHub App Token
        uses: actions/create-github-app-token@7e473efe3cb98aa54f8d4bac15400b15fad77d94 # v2.2.0
        id: app-token
        with:
          app-id: ${{ vars.BOT_APP_ID }}
          private-key: ${{ secrets.BOT_PRIVATE_KEY }}

      - name: Get new version
        id: resolve-versions
        uses: ./.github/actions/resolve-versions
        with:
          github-token: ${{ steps.app-token.outputs.token }}

      - name: Create release
        id: create-release
        uses: actions/github-script@ed597411d8f924073f98dfc5c65a23a2325f34cd # v8.0.0
        with:
          github-token: ${{ steps.app-token.outputs.token }}
          result-encoding: string
          script: |
            const releaseVersion = '${{ steps.resolve-versions.outputs.current-version }}';
            const release = await github.rest.repos.createRelease({
              ...context.repo,
              tag_name: `v${releaseVersion}`,
              generate_release_notes: true,
            });

            return release.data.html_url;

      - name: Comment on PR
        uses: actions/github-script@ed597411d8f924073f98dfc5c65a23a2325f34cd # v8.0.0
        with:
          github-token: ${{ steps.app-token.outputs.token }}
          script: |
            const releaseHtmlUrl = '${{ steps.create-release.outputs.result }}';
            await github.rest.issues.createComment({
              ...context.repo,
              issue_number: context.payload.number,
              body: `:robot: Release is at ${releaseHtmlUrl} :sunflower:`
            });
