name: Slash Commands Comment

on:
  pull_request_target:
    types:
      - opened

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.sha }}
  cancel-in-progress: true

jobs:
  commands-comment:
    runs-on: ubuntu-24.04-arm
    steps:
      # https://github.com/marketplace/actions/create-github-app-token
      - name: Create GitHub App Token
        uses: actions/create-github-app-token@29824e69f54612133e76f7eaac726eef6c875baf # v2.2.1
        id: app-token
        with:
          app-id: ${{ vars.BOT_APP_ID }}
          private-key: ${{ secrets.BOT_PRIVATE_KEY }}

      # https://github.com/marketplace/actions/comment-pull-request
      - uses: thollander/actions-comment-pull-request@24bffb9b452ba05a4f3f77933840a6a841d1b32b # v3.0.1
        with:
          github-token: ${{ steps.app-token.outputs.token }}
          message: |
            ## Commands

            | Command  | Description                                        |
            |----------|----------------------------------------------------|
            | /preview | この Pull Request の Preview を Cloudflare Pages にデプロイ |
          comment-tag: slash-command
          mode: upsert
